/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 16, 2022, 4:45:54 PM
    Author     : 14048
*/

.label{
    -fx-text-fill: white;
    -fx-padding: 3;
}
VBox{
    -fx-background-color: #2f4f4f;
    -fx-opacity: 0.9;
}
#title{
    -fx-font: 24px Calibri;
}
#undertitle{

}
#button{

}
#button:hover{
    -fx-background-color: grey;
}
HBox{
    -fx-text-align: center;
}